@font-face {
  font-family: Roboto;
  src: url(../FONTS/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../FONTS/Roboto-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Roboto;
  src: url(../FONTS/Roboto-Regular.ttf);
  font-weight: 400;
}
body {
  font-family: Roboto;
  font-weight: 300;
}

.post__button {
  width: 68%;
  height: 20px;
  margin-left: 13%;
  margin-top: 25px;
  margin-bottom: 90px;
  display: inline-flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.post__button_prev:hover,
.post__button_next:hover,
.post__button_showall:hover {
  color: grey;
}

.post {
  margin: 0px auto;
  width: 76%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.post__text {
  width: 600px;
  height: 500px;
}

.post__text h2 {
  font-family: Roboto;
  font-weight: 400;
  font-weight: normal;
  font-size: 30px;
  padding-bottom: 15px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
}

.post__text h3 {
  font-size: 18px;
  padding-bottom: 50px;
  font-weight: bold;
  color: #555555;
}

.post__text pre {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 800;
  color: #555555;
  padding-bottom: 40px;
}
.post__text pre i:hover {
  cursor: pointer;
  color: red;
}

.post__text p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.143;
  color: #555555;
  padding-bottom: 100px;
}

.post__text h4 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.post__text h5 {
  padding-bottom: 20px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #555555;
}

.post__img {
  width: 555px;
  height: 480px;
  display: grid;
  grid-template-columns: 130px;
  grid-template-rows: 350px;
  grid-template-areas:
    "img-full img-full img-full img-full"
    "img-a img-b img-c img-d";
  gap: 10px;
}

.full {
  grid-area: img-full;
  background-image: url(../IMG/Portfolio/post1F.png);
}
.a {
  cursor: pointer;
  grid-area: img-a;
  background: rgb(0, 0, 0, 0.5) url(../IMG/Portfolio/post1.png);
}
.a:hover {
  transform: scale(1.4);
}
.b {
  cursor: pointer;
  grid-area: img-b;
  background: rgb(0, 0, 0, 0.5) url(../IMG/Portfolio/post2.png);
}
.b:hover {
  transform: scale(1.4);
}
.c {
  cursor: pointer;
  grid-area: img-c;
  background: rgb(0, 0, 0, 0.5) url(../IMG/Portfolio/post3.png);
}
.c:hover {
  transform: scale(1.4);
}
.d {
  cursor: pointer;
  grid-area: img-d;
  background: rgb(0, 0, 0, 0.5) url(../IMG/Portfolio/post4.png);
}
.d:hover {
  transform: scale(1.4);
}

.share__button {
  width: 85px;
  height: 40px;
  font-family: Roboto;
  font-weight: 800;
  font-size: 13px;
  color: white;
  background-color: #707070;
  border: none;
  border-radius: 4px;
  margin-bottom: 150px;
}
.share__button:hover {
  background-color: #495df1;
}

.share {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-left: 12%;
}

.share__link {
  width: 285px;
  height: 40px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: space-around;
  top: 1264px;
  border-radius: 4px;
}

.share__link__item {
  font-size: 14px;
  margin: auto 0px;
  height: 23px;
  line-height: 1.714;
  color: #777777;
}

@media (min-width: 1601px) {
  .post__button {
    width: 55%;
    margin-left: 22%;
  }
  .post {
    width: 56%;
  }
  .share {
    margin-left: 22%;
  }
}

@media (max-width: 1201px) {
  .post__button {
    width: 80%;
    font-size: 18px;
  }

  .post {
    width: 90%;
    flex-wrap: wrap;
  }
  .post__text {
    width: 100%;
  }
  .post__text h2 {
    font-size: 34px;
  }

  .post__img {
    width: 100%;
    height: 590px;
    grid-template-columns: 260px;
    grid-template-rows: 450px;
  }
  .full {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .a {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .b {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .c {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .d {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .share {
    margin-left: 5%;
  }
}

@media (max-width: 1045px) {
  .post__text p {
    padding-bottom: 10px;
  }
}

@media (max-width: 802px) {
  .post__img {
    grid-template-columns: 170px;
  }
}
